# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\service.displayswitch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
